/* #region common */

:root {
    --dash-primary: #1b72e8;
    --dash-secondary: #051e34;
    --dash-special: #fe8f01;
    --dash-special-dark: #f26551;
    --dash-dark: #5b5858;
    --dash-light: #f8f9fa;
    --dash-dark-soft: #e4e5e4;
}

/* #endregion common */

/* #region debug */

.debug * {
    border: 1px dashed;
}

.debug #overview {
    height: 150px;
}

/* #endregion debug */

/* #region utilities */

.bg_primary {
    background-color: var(--dash-primary);
}
.bg_secondary {
    background-color: var(--dash-secondary);
}
.bg_dark {
    background-color: var(--dash-dark);
}
.bg_dark_soft {
    background-color: var(--dash-dark-soft);
}
.bg_light {
    background-color: var(--dash-light);
}
.bg_special_dark {
    background-color: var(--dash-special-dark);
}

.color_special {
    color: #fe8f01;
}

.hidden {
    display: none;
}

.text_xs {
    font-size: .6rem;
}

.text_sm {
    font-size: .8rem;
}

/* #endregion utilities */

/* #region main */

/* #region app_header */

#app_header {
    height: 4rem;
    width: 100%;
}

#app_header .row {
    flex-wrap: nowrap;
    width: 100%;
}

#app_header ul {
    height: 100%;
}

#app_header .dropdown-toggle::after {
    display: none;
}

/* #endregion app_header */

#main_wrapper {
    height: calc(100vh - 4rem);
}

#sidebar {
    height: 100%;
    width: 60px;
}

/* #region main_container */

#main_container {
    height: 100%;
    width: calc(100vw - 60px);
    overflow-y: auto;
}

#card tbody tr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#cards .icon {
    display: inline-block;
    width: 2rem;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
}

/* #endregion main_container */

/* #region offcanvas */

.offcanvas_right #offcanvasRight {
    width: 100%;
}

/* #endregion offcanvas */

/* #endregion main */

/* #region responsive */

/* sm device */
@media screen and (min-width: 576px) {
    
}

/* md device */
@media screen and (min-width: 768px) {
    .offcanvas_right #offcanvasRight {
        width: 500px;
    }
}

/* lg device */
@media screen and (min-width: 992px) {
    
    #sidebar {
        width: 150px;
    }

    #main_container {
        width: calc(100vw - 150px);
    }

    #app_header img.show
    {
        display: none;
    }

    #app_header img.hidden,
    #app_header i.hidden,
    #sidebar span.hidden
    {
        display: inline-flex;
    }

}

/* xl device */
@media screen and (min-width: 1200px) {
    
}

/* xxl device */
@media screen and (min-width: 1400px) {
    #overview span.show
    {
        display: none;
    }

    #overview span.hidden
    {
        display: inline-flex;
    }
}

/* #endregion responsive */